*{
   margin: 0;
   padding: 0;
}
/* header, link */
#header-container{
    background-image: url(../images/banner/banner3.png);
    width: 1535px;
    height: 800px;
    text-align: right;
    margin-bottom: 140px;
}
.head-link {
    margin-right: 175px;
}
.head-link ul{
    display: flex;
    justify-content: right;
    gap: 10px;
}
.head-link ul li{
    list-style: none;
    max-width: 70%;
  margin: 10px 10px 210px;
  padding: 7px ;
  box-sizing:content-box;
  box-shadow: 5px 8px 20px gainsboro;
  border-radius: 20px;
  cursor: pointer;
}
.head-link ul li:hover{
    background-color: orange;

}
.head-link ul li a{
    text-decoration: none;
    color: black;
}
/* second model for header */
 .nav-container .container{
      width:525px ;
      height: 228px;
      margin: 0 230px  365px 850px;
 }
  .container h2{
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 24px;


  }
  .container p{
      color: #FFFFFF;
       text-align: right;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
       margin-bottom: 24px;
  } 
  .btn{
    width: 160px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: none;
    background-color: rgba(241, 91, 34, 1);
     border-radius: 10px;
     cursor: pointer;
      box-shadow:1px 5px 5px gray;
  }
  .btn3{
      width: 120px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: none;
    background-color:honeydew;
     border-radius: 10px;
     cursor: pointer;
      box-shadow:1px 5px 5px gray;
      margin-right: 10px;
  }
  .btn3 a {
    text-decoration:none ;
    color:darkgray;
  }
   .btn a{
    text-decoration: none;
    color: #FFFFFF;
   }
   /* main tag with 1st section */

   .main-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 400px;
    margin-left: 230px;
    margin-right: 230px;
    gap: 80px;
   }
   .img-container{
      display: flex;
      position: relative;
   }
   .images{
       width: 527px;
       height:527px;
      /* background-color:rgba(241, 91, 34, 0.2); */
      border-radius: 50%;
   }
  .img-section{
    width: 450px;
    height: 890px;
    position:  absolute;
    top: -199px;
    left: -22px;

  }
   .content h3{
        width: 288px;
        height: 94px;
        color:rgba(21, 20, 20, 1);
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
        margin-bottom: 24px;
   }
    .content p {
        width: 416px;
        height: 104px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #444343;
        margin-bottom: 16px;

    }
.content li{
  color: #444343;
   list-style: none;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
 }
 /* second section */
.main-section{
  margin-top: 130px;
}
.section-head h2{
     display: flex;
     justify-content: center;
     font-size: 40px;
     font-weight: 700;
     line-height: 47px;
     margin-bottom: 50px;
}
.icons-line{
   display: flex;
   justify-content: space-around;
   margin: 0px 230px 0px;
}
.icons{
  width: 218px;
  height: 197px;
  text-align: center;
}
.icons h3{
  width: 220px;
  height: 35px;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
}
.icons p{
      font-size: 20px;
      font-weight: 500;
      line-height: 29px;
      color:#737272 ;
    }
/* thared section */
#main-banner{
  display: flex;
  justify-content: center;
  margin-top: 130px;
}
.banner-section{
   background-image: url(../images/watch.png);
   width: 1140px;
   height: 300px;
   margin-bottom: 130px;
}
.banner{
  background-image: url(../images/gradient3.png);
   width: 1140px;
   height: 300px;
   display: flex;
  
}
 .text h2{ 
  color: #FFFFFF;
   width: 460px;
   height: 95px;
   font-size: 40px;
   font-weight: 700;
   line-height: 47px;
    margin: 60px 60px 30px;

}
.btn2{
   width: 160px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: none;
    background-color:#FFFFFF;
    color: rgba(241, 91, 34, 1); ;
     border-radius: 10px;
     cursor: pointer;
     margin: 0px 60px 0px;
}
/* creat the footer section */
.footer-container{
              background-color: black;
              width: 1535px;
              height: 550px;
}
.form-container{
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   gap: 130px;
   padding: 130px 0px 130px;
}
.form-section{
    width: 485px;
    height: 320px;
}
.form-section h2{
       font-size: 45px;
       font-weight: 700;
       line-height: 53px;
       margin-bottom: 16px;
}
.form-paragraph{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.form-section a img{
   margin-right: 20px;
}
.input-container{
       width: 325px;
       height: 204px;
}
.input-container h3 {
     font-size: 25px;
     font-weight: 600;
     line-height: 29px;
     margin-bottom: 20px;
}
.input-container input {
         width: 305px;
         height: 40px;
         box-sizing: border-box;
         border: 1px solid rgba(255, 255, 255, 1);
         border-radius: 8px;
         padding:21px ;
}
.btn1{
   width: 160px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: none;
    background-color:#FFFFFF;
    color: rgba(241, 91, 34, 1); ;
     border-radius: 10px;
     cursor: pointer;
}