*{
   margin: 0;
   padding: 0;
}
/* header, link */
#header-container{
    background-image: url(../images/banner/banner1.png);
    width: 1535px;
    height: 800px;
    text-align: right;
}
.head-link {
    margin-right: 175px;
}
.head-link ul{
    display: flex;
    justify-content: right;
    gap: 10px;
}
.head-link ul li{
    list-style: none;
    max-width: 70%;
  margin: 10px 10px 210px;
  padding: 7px ;
  box-sizing:content-box;
  box-shadow: 5px 8px 20px gainsboro;
  border-radius: 20px;
  cursor: pointer;
}
.head-link ul li:hover{
    background-color: orange;

}
.head-link ul li a{
    text-decoration: none;
    color: black;
}
/* second model for header */
 .nav-container .container{
      width:525px ;
      height: 228px;
      margin: 0 230px  365px 850px;
 }
  .container h2{
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 24px;


  }
  .container p{
       text-align: right;
      font-size: 16px;
      color:  #444343;
      font-weight: 400;
      line-height: 26px;
       margin-bottom: 24px;
  } 
  .btn{
    width: 160px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: none;
    background-color: rgba(241, 91, 34, 1);
     border-radius: 10px;
     cursor: pointer;

  }
   .btn a{
    text-decoration: none;
    color: #FFFFFF;
   }